# **Setup**

In [4]:
# %load_ext sql
%reload_ext sql

%sql postgresql://postgres:<password>@localhost:5432/Soccer --echo

Connecting to 'postgresql://postgres:***@localhost:5432/Soccer'

# **Create Tables**

## **Country Table**

In [7]:
%%sql 

CREATE TABLE country(
    id INT PRIMARY KEY,
    name VARCHAR(64)
)

Running query in 'postgresql://postgres:***@localhost:5432/Soccer'

++
||
++
++

## **Leagues Table**

In [8]:
%%sql 

CREATE TABLE leagues(
    id INTEGER PRIMARY KEY,
    country_id INTEGER,
    name VARCHAR
)

Running query in 'postgresql://postgres:***@localhost:5432/Soccer'

++
||
++
++

## **Players Table**

In [9]:
%%sql 

CREATE TABLE players(
    id INTEGER PRIMARY KEY,
    player_api_id INTEGER,
    player_name VARCHAR,
    player_fifa_api_id INTEGER,
    birthday DATE,
    height FLOAT,
    weight SMALLINT
)

Running query in 'postgresql://postgres:***@localhost:5432/Soccer'

++
||
++
++

## **Teams Table**

In [11]:
%%sql 

CREATE TABLE teams(
    id INT PRIMARY KEY,
    team_api_id INT,
    team_fifa_api_id INT,
    team_long_name VARCHAR(255),
    team_short_name VARCHAR(164)
)

Running query in 'postgresql://postgres:***@localhost:5432/Soccer'

++
||
++
++

## **Team Attributes**

In [20]:
%%sql 

CREATE TABLE team_attributes(
    id INT PRIMARY KEY NOT NULL,
    team_fifa_api_id INT,
    team_api_id INT,
    date DATE,
    buildUpPlaySpeed SMALLINT,
    buildUpPlaySpeedClass VARCHAR(32),
    buildUpPlayDribbling SMALLINT,
    buildUpPlayDribblingClass VARCHAR(32),
    buildUpPlayPassing SMALLINT,
    buildUpPlayPassingClass VARCHAR(32),
    buildUpPlayPositioningClass VARCHAR(32),
    chanceCreationPassing SMALLINT,
    chanceCreationPassingClass VARChAR(16),
    chanceCreationCrossing SMALLINT,
    chanceCreationCrossingClass VARCHAR(16),
    chanceCreationShooting SMALLINT,
    chanceCreationShootingClass VARCHAR(16),
    chanceCreationPositioningClass VARCHAR(16),
    defencePressure SMALLINT,
    defencePressureClass VARCHAR(16),
    defenceAggression SMALLINT,
    defenceAggressionClass VARCHAR(16),
    defenceTeamWidth SMALLINT,
    defenceTeamWidthClass VARCHAR(16),
    defenceDefenderLineClass VARCHAR(16)
)

Running query in 'postgresql://postgres:***@localhost:5432/Soccer'

++
||
++
++

## **Player Atrributes**

In [30]:
%%sql 

CREATE TABLE player_attribute (
    id INT PRIMARY KEY NOT NULL,
    player_fifa_api_id INT,
    player_api_id INT,
    date DATE,
    overall_rating SMALLINT,
    potential SMALLINT,
    preferred_foot VARCHAR(16),
    attacking_work_rate VARCHAR(16),
    defensive_work_rate VARCHAR(16),
    crossing SMALLINT,
    finishing SMALLINT,
    heading_accuracy SMALLINT,
    short_passing SMALLINT,
    volleys SMALLINT,
    dribbling SMALLINT,
    curve SMALLINT,
    free_kick_accuracy SMALLINT,
    long_passing SMALLINT,
    ball_control SMALLINT,
    acceleration SMALLINT,
    sprint_speed SMALLINT,
    agility SMALLINT,
    reactions SMALLINT,
    balance SMALLINT,
    shot_power SMALLINT,
    jumping SMALLINT,
    stamina SMALLINT,
    strength SMALLINT,
    long_shots SMALLINT,
    aggression SMALLINT,
    interceptions SMALLINT,
    positioning SMALLINT,
    vision SMALLINT,
    penalties SMALLINT,
    marking SMALLINT,
    standing_tackle SMALLINT,
    sliding_tackle SMALLINT,
    gk_diving SMALLINT,
    gk_handling SMALLINT,
    gk_kicking SMALLINT,
    gk_positioning SMALLINT,
    gk_reflexes SMALLINT
)

Running query in 'postgresql://postgres:***@localhost:5432/Soccer'

++
||
++
++

## **Matches**

In [42]:
%%sql 
CREATE TABLE matches(
    id INT PRIMARY KEY NOT NULL,
    country_id SMALLINT,
    league_id SMALLINT,
    season VARCHAR(16),
    stage INT2,
    date DATE,
    match_api_id INT,
    home_team_api_id INT,
    away_team_api_id INT,
    home_team_goal SMALLINT,
    away_team_goal SMALLINT,
    home_player_X1 SMALLINT,
    home_player_X2 SMALLINT,
    home_player_X3 SMALLINT,
    home_player_X4 SMALLINT,
    home_player_X5 SMALLINT,
    home_player_X6 SMALLINT,
    home_player_X7 SMALLINT,
    home_player_X8 SMALLINT,
    home_player_X9 SMALLINT,
    home_player_X10 SMALLINT,
    home_player_X11 SMALLINT,
    away_player_X1 SMALLINT,
    away_player_X2 SMALLINT,
    away_player_X3 SMALLINT,
    away_player_X4 SMALLINT,
    away_player_X5 SMALLINT,
    away_player_X6 SMALLINT,
    away_player_X7 SMALLINT,
    away_player_X8 SMALLINT,
    away_player_X9 SMALLINT,
    away_player_X10 SMALLINT,
    away_player_X11 SMALLINT,
    home_player_Y1 SMALLINT,
    home_player_Y2 SMALLINT,
    home_player_Y3 SMALLINT,
    home_player_Y4 SMALLINT,
    home_player_Y5 SMALLINT,
    home_player_Y6 SMALLINT,
    home_player_Y7 SMALLINT,
    home_player_Y8 SMALLINT,
    home_player_Y9 SMALLINT,
    home_player_Y10 SMALLINT,
    home_player_Y11 SMALLINT,
    away_player_Y1 SMALLINT,
    away_player_Y2 SMALLINT,
    away_player_Y3 SMALLINT,
    away_player_Y4 SMALLINT,
    away_player_Y5 SMALLINT,
    away_player_Y6 SMALLINT,
    away_player_Y7 SMALLINT,
    away_player_Y8 SMALLINT,
    away_player_Y9 SMALLINT,
    away_player_Y10 SMALLINT,
    away_player_Y11 SMALLINT,
    home_player_1 INT,
    home_player_2 INT,
    home_player_3 INT,
    home_player_4 INT,
    home_player_5 INT,
    home_player_6 INT,
    home_player_7 INT,
    home_player_8 INT,
    home_player_9 INT,
    home_player_10 INT,
    home_player_11 INT,
    away_player_1 INT,
    away_player_2 INT,
    away_player_3 INT,
    away_player_4 INT,
    away_player_5 INT,
    away_player_6 INT,
    away_player_7 INT,
    away_player_8 INT,
    away_player_9 INT,
    away_player_10 INT,
    away_player_11 INT,
    goal VARCHAR,
    shoton VARCHAR,
    shotoff VARCHAR,
    foulcommit VARCHAR,
    card VARCHAR,
    "cross" VARCHAR,
    corner VARCHAR,
    possession VARCHAR,
    B365H FLOAT,
    B365D FLOAT,
    B365A FLOAT,
    BWH FLOAT,
    BWD FLOAT,
    BWA FLOAT,
    IWH FLOAT,
    IWD FLOAT,
    IWA FLOAT,
    LBH FLOAT,
    LBD FLOAT,
    LBA FLOAT,
    PSH FLOAT,
    PSD FLOAT,
    PSA FLOAT,
    WHH FLOAT,
    WHD FLOAT,
    WHA FLOAT,
    SJH FLOAT,
    SJD FLOAT,
    SJA FLOAT,
    VCH FLOAT,
    VCD FLOAT,
    VCA FLOAT,
    GBH FLOAT,
    GBD FLOAT,
    GBA FLOAT,
    BSH FLOAT,
    BSD FLOAT,
    BSA FLOAT
);

Running query in 'postgresql://postgres:***@localhost:5432/Soccer'

++
||
++
++

# **Check Data**

## **Country Table**

In [22]:
%%sql
SELECT * FROM country LIMIT 10

Running query in 'postgresql://postgres:***@localhost:5432/Soccer'

10 rows affected.

+-------+-------------+
|   id  |     name    |
+-------+-------------+
|   1   |   Belgium   |
|  1729 |   England   |
|  4769 |    France   |
|  7809 |   Germany   |
| 10257 |    Italy    |
| 13274 | Netherlands |
| 15722 |    Poland   |
| 17642 |   Portugal  |
| 19694 |   Scotland  |
| 21518 |    Spain    |
+-------+-------------+
Truncated to displaylimit of 10.

## **Leagues Table**

In [23]:
%%sql
SELECT * FROM leagues LIMIT 10

Running query in 'postgresql://postgres:***@localhost:5432/Soccer'

10 rows affected.

+-------+------------+--------------------------+
|   id  | country_id |           name           |
+-------+------------+--------------------------+
|   1   |     1      |  Belgium Jupiler League  |
|  1729 |    1729    |  England Premier League  |
|  4769 |    4769    |      France Ligue 1      |
|  7809 |    7809    |  Germany 1. Bundesliga   |
| 10257 |   10257    |      Italy Serie A       |
| 13274 |   13274    |  Netherlands Eredivisie  |
| 15722 |   15722    |    Poland Ekstraklasa    |
| 17642 |   17642    | Portugal Liga ZON Sagres |
| 19694 |   19694    | Scotland Premier League  |
| 21518 |   21518    |     Spain LIGA BBVA      |
+-------+------------+--------------------------+
Truncated to displaylimit of 10.

## **Players Table**

In [24]:
%%sql
SELECT * FROM players LIMIT 10

Running query in 'postgresql://postgres:***@localhost:5432/Soccer'

10 rows affected.

+----+---------------+--------------------+--------------------+------------+--------+--------+
| id | player_api_id |    player_name     | player_fifa_api_id |  birthday  | height | weight |
+----+---------------+--------------------+--------------------+------------+--------+--------+
| 1  |     505942    | Aaron Appindangoye |       218353       | 1992-02-29 | 182.88 |  187   |
| 2  |     155782    |  Aaron Cresswell   |       189615       | 1989-12-15 | 170.18 |  146   |
| 3  |     162549    |    Aaron Doran     |       186170       | 1991-05-13 | 170.18 |  163   |
| 4  |     30572     |   Aaron Galindo    |       140161       | 1982-05-08 | 182.88 |  198   |
| 5  |     23780     |    Aaron Hughes    |       17725        | 1979-11-08 | 182.88 |  154   |
| 6  |     27316     |     Aaron Hunt     |       158138       | 1986-09-04 | 182.88 |  161   |
| 7  |     564793    |     Aaron Kuhl     |       221280       | 1996-01-30 | 172.72 |  146   |
| 8  |     30895     |    Aaron Lennon    |       152747       | 1987-04-16 | 165.1  |  139   |
| 9  |     528212    |    Aaron Lennox    |       206592       | 1993-02-19 | 190.5  |  181   |
| 10 |     101042    |   Aaron Meijers    |       188621       | 1987-10-28 | 175.26 |  170   |
+----+---------------+--------------------+--------------------+------------+--------+--------+
Truncated to displaylimit of 10.

## **Teams Table**

In [25]:
%%sql
SELECT * FROM teams LIMIT 10

Running query in 'postgresql://postgres:***@localhost:5432/Soccer'

10 rows affected.

+----+-------------+------------------+-------------------+-----------------+
| id | team_api_id | team_fifa_api_id |   team_long_name  | team_short_name |
+----+-------------+------------------+-------------------+-----------------+
| 1  |     9987    |       673        |      KRC Genk     |       GEN       |
| 2  |     9993    |       675        |    Beerschot AC   |       BAC       |
| 3  |    10000    |      15005       |  SV Zulte-Waregem |       ZUL       |
| 4  |     9994    |       2007       |  Sporting Lokeren |       LOK       |
| 5  |     9984    |       1750       | KSV Cercle Brugge |       CEB       |
| 6  |     8635    |       229        |   RSC Anderlecht  |       AND       |
| 7  |     9991    |       674        |      KAA Gent     |       GEN       |
| 8  |     9998    |       1747       |     RAEC Mons     |       MON       |
| 9  |     7947    |       None       |   FCV Dender EH   |       DEN       |
| 10 |     9985    |       232        | Standard de Liège |       STL       |
+----+-------------+------------------+-------------------+-----------------+
Truncated to displaylimit of 10.

## **Team Attributes Table**

In [26]:
%%sql
SELECT * FROM team_attributes LIMIT 10

Running query in 'postgresql://postgres:***@localhost:5432/Soccer'

10 rows affected.

+----+------------------+-------------+------------+------------------+-----------------------+----------------------+---------------------------+--------------------+-------------------------+-----------------------------+-----------------------+----------------------------+------------------------+-----------------------------+------------------------+-----------------------------+--------------------------------+-----------------+----------------------+-------------------+------------------------+------------------+-----------------------+--------------------------+
| id | team_fifa_api_id | team_api_id |    date    | buildupplayspeed | buildupplayspeedclass | buildupplaydribbling | buildupplaydribblingclass | buildupplaypassing | buildupplaypassingclass | buildupplaypositioningclass | chancecreationpassing | chancecreationpassingclass | chancecreationcrossing | chancecreationcrossingclass | chancecreationshooting | chancecreationshootingclass | chancecreationpositioningclass | defencepressure | defencepressureclass | defenceaggression | defenceaggressionclass | defenceteamwidth | defenceteamwidthclass | defencedefenderlineclass |
+----+------------------+-------------+------------+------------------+-----------------------+----------------------+---------------------------+--------------------+-------------------------+-----------------------------+-----------------------+----------------------------+------------------------+-----------------------------+------------------------+-----------------------------+--------------------------------+-----------------+----------------------+-------------------+------------------------+------------------+-----------------------+--------------------------+
| 1  |       434        |     9930    | 2010-02-22 |        60        |        Balanced       |         None         |           Little          |         50         |          Mixed          |          Organised          |           60          |           Normal           |           65           |            Normal           |           55           |            Normal           |           Organised            |        50       |        Medium        |         55        |         Press          |        45        |         Normal        |          Cover           |
| 2  |       434        |     9930    | 2014-09-19 |        52        |        Balanced       |          48          |           Normal          |         56         |          Mixed          |          Organised          |           54          |           Normal           |           63           |            Normal           |           64           |            Normal           |           Organised            |        47       |        Medium        |         44        |         Press          |        54        |         Normal        |          Cover           |
| 3  |       434        |     9930    | 2015-09-10 |        47        |        Balanced       |          41          |           Normal          |         54         |          Mixed          |          Organised          |           54          |           Normal           |           63           |            Normal           |           64           |            Normal           |           Organised            |        47       |        Medium        |         44        |         Press          |        54        |         Normal        |          Cover           |
| 4  |        77        |     8485    | 2010-02-22 |        70        |          Fast         |         None         |           Little          |         70         |           Long          |          Organised          |           70          |           Risky            |           70           |             Lots            |           70           |             Lots            |           Organised            |        60       |        Medium        |         70        |         Double         |        70        |          Wide         |          Cover           |
| 5  |        77        |     8485    | 2011-02-22 |        47        |        Balanced       |         None         |           Little          |         52         |          Mixed          |          Organised          |           53          |           Normal           |           48           |            Normal           |           52           |            Normal           |           Organised            |        47       |        Medium        |         47        |         Press          |        52        |         Normal        |          Cover           |
| 6  |        77        |     8485    | 2012-02-22 |        58        |        Balanced       |         None         |           Little          |         62         |          Mixed          |          Organised          |           45          |           Normal           |           70           |             Lots            |           55           |            Normal           |           Organised            |        40       |        Medium        |         40        |         Press          |        60        |         Normal        |          Cover           |
| 7  |        77        |     8485    | 2013-09-20 |        62        |        Balanced       |         None         |           Little          |         45         |          Mixed          |          Organised          |           40          |           Normal           |           50           |            Normal           |           55           |            Normal           |           Organised            |        42       |        Medium        |         42        |         Press          |        60        |         Normal        |          Cover           |
| 8  |        77        |     8485    | 2014-09-19 |        58        |        Balanced       |          64          |           Normal          |         62         |          Mixed          |          Organised          |           56          |           Normal           |           68           |             Lots            |           57           |            Normal           |           Organised            |        41       |        Medium        |         42        |         Press          |        60        |         Normal        |          Cover           |
| 9  |        77        |     8485    | 2015-09-10 |        59        |        Balanced       |          64          |           Normal          |         53         |          Mixed          |          Organised          |           51          |           Normal           |           72           |             Lots            |           63           |            Normal           |           Free Form            |        49       |        Medium        |         45        |         Press          |        63        |         Normal        |          Cover           |
| 10 |       614        |     8576    | 2010-02-22 |        60        |        Balanced       |         None         |           Little          |         40         |          Mixed          |          Organised          |           45          |           Normal           |           35           |            Normal           |           55           |            Normal           |           Organised            |        30       |         Deep         |         70        |         Double         |        30        |         Narrow        |       Offside Trap       |
+----+------------------+-------------+------------+------------------+-----------------------+----------------------+---------------------------+--------------------+-------------------------+-----------------------------+-----------------------+----------------------------+------------------------+-----------------------------+------------------------+-----------------------------+--------------------------------+-----------------+----------------------+-------------------+------------------------+------------------+-----------------------+--------------------------+
Truncated to displaylimit of 10.

## **Player Attributes Table**

In [44]:
%%sql
SELECT * FROM player_attributes LIMIT 10

Running query in 'postgresql://postgres:***@localhost:5432/Soccer'

10 rows affected.

+----+--------------------+---------------+------------+----------------+-----------+----------------+---------------------+---------------------+----------+-----------+------------------+---------------+---------+-----------+-------+--------------------+--------------+--------------+--------------+--------------+---------+-----------+---------+------------+---------+---------+----------+------------+------------+---------------+-------------+--------+-----------+---------+-----------------+----------------+-----------+-------------+------------+----------------+-------------+
| id | player_fifa_api_id | player_api_id |    date    | overall_rating | potential | preferred_foot | attacking_work_rate | defensive_work_rate | crossing | finishing | heading_accuracy | short_passing | volleys | dribbling | curve | free_kick_accuracy | long_passing | ball_control | acceleration | sprint_speed | agility | reactions | balance | shot_power | jumping | stamina | strength | long_shots | aggression | interceptions | positioning | vision | penalties | marking | standing_tackle | sliding_tackle | gk_diving | gk_handling | gk_kicking | gk_positioning | gk_reflexes |
+----+--------------------+---------------+------------+----------------+-----------+----------------+---------------------+---------------------+----------+-----------+------------------+---------------+---------+-----------+-------+--------------------+--------------+--------------+--------------+--------------+---------+-----------+---------+------------+---------+---------+----------+------------+------------+---------------+-------------+--------+-----------+---------+-----------------+----------------+-----------+-------------+------------+----------------+-------------+
| 1  |       218353       |     505942    | 2016-02-18 |       67       |     71    |     right      |        medium       |        medium       |    49    |     44    |        71        |       61      |    44   |     51    |   45  |         39         |      64      |      49      |      60      |      64      |    59   |     47    |    65   |     55     |    58   |    54   |    76    |     35     |     71     |       70      |      45     |   54   |     48    |    65   |        69       |       69       |     6     |      11     |     10     |       8        |      8      |
| 2  |       218353       |     505942    | 2015-11-19 |       67       |     71    |     right      |        medium       |        medium       |    49    |     44    |        71        |       61      |    44   |     51    |   45  |         39         |      64      |      49      |      60      |      64      |    59   |     47    |    65   |     55     |    58   |    54   |    76    |     35     |     71     |       70      |      45     |   54   |     48    |    65   |        69       |       69       |     6     |      11     |     10     |       8        |      8      |
| 3  |       218353       |     505942    | 2015-09-21 |       62       |     66    |     right      |        medium       |        medium       |    49    |     44    |        71        |       61      |    44   |     51    |   45  |         39         |      64      |      49      |      60      |      64      |    59   |     47    |    65   |     55     |    58   |    54   |    76    |     35     |     63     |       41      |      45     |   54   |     48    |    65   |        66       |       69       |     6     |      11     |     10     |       8        |      8      |
| 4  |       218353       |     505942    | 2015-03-20 |       61       |     65    |     right      |        medium       |        medium       |    48    |     43    |        70        |       60      |    43   |     50    |   44  |         38         |      63      |      48      |      60      |      64      |    59   |     46    |    65   |     54     |    58   |    54   |    76    |     34     |     62     |       40      |      44     |   53   |     47    |    62   |        63       |       66       |     5     |      10     |     9      |       7        |      7      |
| 5  |       218353       |     505942    | 2007-02-22 |       61       |     65    |     right      |        medium       |        medium       |    48    |     43    |        70        |       60      |    43   |     50    |   44  |         38         |      63      |      48      |      60      |      64      |    59   |     46    |    65   |     54     |    58   |    54   |    76    |     34     |     62     |       40      |      44     |   53   |     47    |    62   |        63       |       66       |     5     |      10     |     9      |       7        |      7      |
| 6  |       189615       |     155782    | 2016-04-21 |       74       |     76    |      left      |         high        |        medium       |    80    |     53    |        58        |       71      |    40   |     73    |   70  |         69         |      68      |      71      |      79      |      78      |    78   |     67    |    90   |     71     |    85   |    79   |    56    |     62     |     68     |       67      |      60     |   66   |     59    |    76   |        75       |       78       |     14    |      7      |     9      |       9        |      12     |
| 7  |       189615       |     155782    | 2016-04-07 |       74       |     76    |      left      |         high        |        medium       |    80    |     53    |        58        |       71      |    32   |     73    |   70  |         69         |      68      |      71      |      79      |      78      |    78   |     67    |    90   |     71     |    85   |    79   |    56    |     60     |     68     |       67      |      60     |   66   |     59    |    76   |        75       |       78       |     14    |      7      |     9      |       9        |      12     |
| 8  |       189615       |     155782    | 2016-01-07 |       73       |     75    |      left      |         high        |        medium       |    79    |     52    |        57        |       70      |    29   |     71    |   68  |         69         |      68      |      70      |      79      |      78      |    78   |     67    |    90   |     71     |    84   |    79   |    56    |     59     |     67     |       66      |      58     |   65   |     59    |    76   |        75       |       78       |     14    |      7      |     9      |       9        |      12     |
| 9  |       189615       |     155782    | 2015-12-24 |       73       |     75    |      left      |         high        |        medium       |    79    |     51    |        57        |       70      |    29   |     71    |   68  |         69         |      68      |      70      |      79      |      78      |    78   |     67    |    90   |     71     |    84   |    79   |    56    |     58     |     67     |       66      |      58     |   65   |     59    |    76   |        75       |       78       |     14    |      7      |     9      |       9        |      12     |
| 10 |       189615       |     155782    | 2015-12-17 |       73       |     75    |      left      |         high        |        medium       |    79    |     51    |        57        |       70      |    29   |     71    |   68  |         69         |      68      |      70      |      79      |      78      |    78   |     67    |    90   |     71     |    84   |    79   |    56    |     58     |     67     |       66      |      58     |   65   |     59    |    76   |        75       |       78       |     14    |      7      |     9      |       9        |      12     |
+----+--------------------+---------------+------------+----------------+-----------+----------------+---------------------+---------------------+----------+-----------+------------------+---------------+---------+-----------+-------+--------------------+--------------+--------------+--------------+--------------+---------+-----------+---------+------------+---------+---------+----------+------------+------------+---------------+-------------+--------+-----------+---------+-----------------+----------------+-----------+-------------+------------+----------------+-------------+
Truncated to displaylimit of 10.

## **Matches Table**

In [7]:
%%sql
SELECT * FROM matches LIMIT 10

Running query in 'postgresql://postgres:***@localhost:5432/Soccer'

10 rows affected.

+----+------------+-----------+-----------+-------+------------+--------------+------------------+------------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+-----------------+-----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+-----------------+-----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+-----------------+-----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+-----------------+-----------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+----------------+----------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+----------------+----------------+------+--------+---------+------------+------+-------+--------+------------+-------+-------+-------+------+------+------+------+-----+-----+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+
| id | country_id | league_id |   season  | stage |    date    | match_api_id | home_team_api_id | away_team_api_id | home_team_goal | away_team_goal | home_player_x1 | home_player_x2 | home_player_x3 | home_player_x4 | home_player_x5 | home_player_x6 | home_player_x7 | home_player_x8 | home_player_x9 | home_player_x10 | home_player_x11 | away_player_x1 | away_player_x2 | away_player_x3 | away_player_x4 | away_player_x5 | away_player_x6 | away_player_x7 | away_player_x8 | away_player_x9 | away_player_x10 | away_player_x11 | home_player_y1 | home_player_y2 | home_player_y3 | home_player_y4 | home_player_y5 | home_player_y6 | home_player_y7 | home_player_y8 | home_player_y9 | home_player_y10 | home_player_y11 | away_player_y1 | away_player_y2 | away_player_y3 | away_player_y4 | away_player_y5 | away_player_y6 | away_player_y7 | away_player_y8 | away_player_y9 | away_player_y10 | away_player_y11 | home_player_1 | home_player_2 | home_player_3 | home_player_4 | home_player_5 | home_player_6 | home_player_7 | home_player_8 | home_player_9 | home_player_10 | home_player_11 | away_player_1 | away_player_2 | away_player_3 | away_player_4 | away_player_5 | away_player_6 | away_player_7 | away_player_8 | away_player_9 | away_player_10 | away_player_11 | goal | shoton | shotoff | foulcommit | card | cross | corner | possession | b365h | b365d | b365a | bwh  | bwd  | bwa  | iwh  | iwd | iwa | lbh  | lbd  | lba  | psh  | psd  | psa  | whh  | whd  | wha  | sjh  | sjd  | sja  | vch  | vcd  | vca  | gbh  | gbd  | gba  | bsh  | bsd  | bsa  |
+----+------------+-----------+-----------+-------+------------+--------------+------------------+------------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+-----------------+-----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+-----------------+-----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+-----------------+-----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+-----------------+-----------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+----------------+----------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+----------------+----------------+------+--------+---------+------------+------+-------+--------+------------+-------+-------+-------+------+------+------+------+-----+-----+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+
| 1  |     1      |     1     | 2008/2009 |   1   | 2008-08-17 |    492473    |       9987       |       9993       |       1        |       1        |      None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |       None      |       None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |       None      |       None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |       None      |       None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |       None      |       None      |      None     |      None     |      None     |      None     |      None     |      None     |      None     |      None     |      None     |      None      |      None      |      None     |      None     |      None     |      None     |      None     |      None     |      None     |      None     |      None     |      None      |      None      | None |  None  |   None  |    None    | None |  None |  None  |    None    |  1.73 |  3.4  |  5.0  | 1.75 | 3.35 | 4.2  | 1.85 | 3.2 | 3.5 | 1.8  | 3.3  | 3.75 | None | None | None | 1.7  | 3.3  | 4.33 | 1.9  | 3.3  | 4.0  | 1.65 | 3.4  | 4.5  | 1.78 | 3.25 | 4.0  | 1.73 | 3.4  | 4.2  |
| 2  |     1      |     1     | 2008/2009 |   1   | 2008-08-16 |    492474    |      10000       |       9994       |       0        |       0        |      None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |       None      |       None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |       None      |       None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |       None      |       None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |       None      |       None      |      None     |      None     |      None     |      None     |      None     |      None     |      None     |      None     |      None     |      None      |      None      |      None     |      None     |      None     |      None     |      None     |      None     |      None     |      None     |      None     |      None      |      None      | None |  None  |   None  |    None    | None |  None |  None  |    None    |  1.95 |  3.2  |  3.6  | 1.8  | 3.3  | 3.95 | 1.9  | 3.2 | 3.5 | 1.9  | 3.2  | 3.5  | None | None | None | 1.83 | 3.3  | 3.6  | 1.95 | 3.3  | 3.8  | 2.0  | 3.25 | 3.25 | 1.85 | 3.25 | 3.75 | 1.91 | 3.25 | 3.6  |
| 3  |     1      |     1     | 2008/2009 |   1   | 2008-08-16 |    492475    |       9984       |       8635       |       0        |       3        |      None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |       None      |       None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |       None      |       None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |       None      |       None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |       None      |       None      |      None     |      None     |      None     |      None     |      None     |      None     |      None     |      None     |      None     |      None      |      None      |      None     |      None     |      None     |      None     |      None     |      None     |      None     |      None     |      None     |      None      |      None      | None |  None  |   None  |    None    | None |  None |  None  |    None    |  2.38 |  3.3  |  2.75 | 2.4  | 3.3  | 2.55 | 2.6  | 3.1 | 2.3 | 2.5  | 3.2  | 2.5  | None | None | None | 2.5  | 3.25 | 2.4  | 2.63 | 3.3  | 2.5  | 2.35 | 3.25 | 2.65 | 2.5  | 3.2  | 2.5  | 2.3  | 3.2  | 2.75 |
| 4  |     1      |     1     | 2008/2009 |   1   | 2008-08-17 |    492476    |       9991       |       9998       |       5        |       0        |      None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |       None      |       None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |       None      |       None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |       None      |       None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |       None      |       None      |      None     |      None     |      None     |      None     |      None     |      None     |      None     |      None     |      None     |      None      |      None      |      None     |      None     |      None     |      None     |      None     |      None     |      None     |      None     |      None     |      None      |      None      | None |  None  |   None  |    None    | None |  None |  None  |    None    |  1.44 |  3.75 |  7.5  | 1.4  | 4.0  | 6.8  | 1.4  | 3.9 | 6.0 | 1.44 | 3.6  | 6.5  | None | None | None | 1.44 | 3.75 | 6.0  | 1.44 | 4.0  | 7.5  | 1.45 | 3.75 | 6.5  | 1.5  | 3.75 | 5.5  | 1.44 | 3.75 | 6.5  |
| 5  |     1      |     1     | 2008/2009 |   1   | 2008-08-16 |    492477    |       7947       |       9985       |       1        |       3        |      None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |       None      |       None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |       None      |       None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |       None      |       None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |       None      |       None      |      None     |      None     |      None     |      None     |      None     |      None     |      None     |      None     |      None     |      None      |      None      |      None     |      None     |      None     |      None     |      None     |      None     |      None     |      None     |      None     |      None      |      None      | None |  None  |   None  |    None    | None |  None |  None  |    None    |  5.0  |  3.5  |  1.65 | 5.0  | 3.5  | 1.6  | 4.0  | 3.3 | 1.7 | 4.0  | 3.4  | 1.72 | None | None | None | 4.2  | 3.4  | 1.7  | 4.5  | 3.5  | 1.73 | 4.5  | 3.4  | 1.65 | 4.5  | 3.5  | 1.65 | 4.75 | 3.3  | 1.67 |
| 6  |     1      |     1     | 2008/2009 |   1   | 2008-09-24 |    492478    |       8203       |       8342       |       1        |       1        |      None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |       None      |       None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |       None      |       None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |       None      |       None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |       None      |       None      |      None     |      None     |      None     |      None     |      None     |      None     |      None     |      None     |      None     |      None      |      None      |      None     |      None     |      None     |      None     |      None     |      None     |      None     |      None     |      None     |      None      |      None      | None |  None  |   None  |    None    | None |  None |  None  |    None    |  4.75 |  3.4  |  1.67 | 4.85 | 3.4  | 1.65 | 3.7  | 3.2 | 1.8 | 5.0  | 3.25 | 1.62 | None | None | None | 4.2  | 3.4  | 1.7  | 5.5  | 3.75 | 1.67 | 4.35 | 3.4  | 1.7  | 4.5  | 3.4  | 1.7  | None | None | None |
| 7  |     1      |     1     | 2008/2009 |   1   | 2008-08-16 |    492479    |       9999       |       8571       |       2        |       2        |      None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |       None      |       None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |       None      |       None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |       None      |       None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |       None      |       None      |      None     |      None     |      None     |      None     |      None     |      None     |      None     |      None     |      None     |      None      |      None      |      None     |      None     |      None     |      None     |      None     |      None     |      None     |      None     |      None     |      None      |      None      | None |  None  |   None  |    None    | None |  None |  None  |    None    |  2.1  |  3.2  |  3.3  | 2.05 | 3.25 | 3.15 | 1.85 | 3.2 | 3.5 | 1.83 | 3.3  | 3.6  | None | None | None | 1.83 | 3.3  | 3.6  | 1.91 | 3.4  | 3.6  | 2.1  | 3.25 | 3.0  | 1.85 | 3.25 | 3.75 | 2.1  | 3.25 | 3.1  |
| 8  |     1      |     1     | 2008/2009 |   1   | 2008-08-16 |    492480    |       4049       |       9996       |       1        |       2        |      None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |       None      |       None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |       None      |       None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |       None      |       None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |       None      |       None      |      None     |      None     |      None     |      None     |      None     |      None     |      None     |      None     |      None     |      None      |      None      |      None     |      None     |      None     |      None     |      None     |      None     |      None     |      None     |      None     |      None      |      None      | None |  None  |   None  |    None    | None |  None |  None  |    None    |  3.2  |  3.4  |  2.2  | 2.55 | 3.3  | 2.4  | 2.4  | 3.2 | 2.4 | 2.5  | 3.2  | 2.5  | None | None | None | 2.7  | 3.25 | 2.25 | 2.6  | 3.4  | 2.4  | 2.8  | 3.25 | 2.25 | 2.8  | 3.2  | 2.25 | 2.88 | 3.25 | 2.2  |
| 9  |     1      |     1     | 2008/2009 |   1   | 2008-08-16 |    492481    |      10001       |       9986       |       1        |       0        |      None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |       None      |       None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |       None      |       None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |       None      |       None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |      None      |       None      |       None      |      None     |      None     |      None     |      None     |      None     |      None     |      None     |      None     |      None     |      None      |      None      |      None     |      None     |      None     |      None     |      None     |      None     |      None     |      None     |      None     |      None      |      None      | None |  None  |   None  |    None    | None |  None |  None  |    None    |  2.25 |  3.25 |  2.88 | 2.3  | 3.25 | 2.7  | 2.1  | 3.1 | 3.0 | 2.25 | 3.2  | 2.75 | None | None | None | 2.2  | 3.25 | 2.75 | 2.2  | 3.3  | 3.1  | 2.25 | 3.25 | 2.8  | 2.2  | 3.3  | 2.8  | 2.25 | 3.2  | 2.8  |

# **Refresher**

* Selecting Data
* Filtering Data
* Grouping Data
* Joining Tables
* Aggregating Data

# **Module 01: CASE Statements**

In [17]:
%%sql 

SELECT id, home_team_goal, away_team_goal,
CASE WHEN home_team_goal > away_team_goal THEN 'Home Team Win'
    WHEN home_team_goal < away_team_goal THEN 'Away Team Win'
    ELSE 'Tie' END AS outcome
FROM match
WHERE season = '2013/2014';

Running query in 'postgresql://postgres:***@localhost:5432/Soccer'

3032 rows affected.

+------+----------------+----------------+---------------+
|  id  | home_team_goal | away_team_goal |    outcome    |
+------+----------------+----------------+---------------+
| 1237 |       2        |       0        | Home Team Win |
| 1238 |       0        |       1        | Away Team Win |
| 1239 |       1        |       0        | Home Team Win |
| 1240 |       0        |       0        |      Tie      |
| 1241 |       2        |       1        | Home Team Win |
| 1242 |       2        |       0        | Home Team Win |
| 1243 |       2        |       4        | Away Team Win |
| 1244 |       0        |       2        | Away Team Win |
| 1245 |       4        |       2        | Home Team Win |
| 1246 |       1        |       1        |      Tie      |
+------+----------------+----------------+---------------+
Truncated to displaylimit of 10.

In [19]:
%%sql 

SELECT date, season,
    CASE WHEN home_team_goal > away_team_goal THEN 'Home team win!'
        WHEN home_team_goal < away_team_goal THEN 'Away team win!'
        ELSE 'Tie' END AS outcome
FROM match;

Running query in 'postgresql://postgres:***@localhost:5432/Soccer'

25979 rows affected.

+------------+-----------+----------------+
|    date    |   season  |    outcome     |
+------------+-----------+----------------+
| 2008-08-17 | 2008/2009 |      Tie       |
| 2008-08-16 | 2008/2009 |      Tie       |
| 2008-08-16 | 2008/2009 | Away team win! |
| 2008-08-17 | 2008/2009 | Home team win! |
| 2008-08-16 | 2008/2009 | Away team win! |
| 2008-09-24 | 2008/2009 |      Tie       |
| 2008-08-16 | 2008/2009 |      Tie       |
| 2008-08-16 | 2008/2009 | Away team win! |
| 2008-08-16 | 2008/2009 | Home team win! |
| 2008-11-01 | 2008/2009 | Home team win! |
+------------+-----------+----------------+
Truncated to displaylimit of 10.

## **CASE Statement + Aggregate**

# **Module 02: Sub Queries**

# **Module 03: Correlated, Nested & CTE Queries**

# **Module 04: Window Function**

## **Window Function**

In [26]:
%%sql 
-- How many goals were scored in each match in 2011/2012, and how did that compare to the average?

SELECT date,
    (home_team_goal + away_team_goal) AS goals,
    (SELECT AVG(home_team_goal + away_team_goal)
        FROM match
        WHERE season = '2011/2012') AS overall_avg
FROM match
WHERE season = '2011/2012';

Running query in 'postgresql://postgres:***@localhost:5432/Soccer'

3220 rows affected.

+------------+-------+--------------------+
|    date    | goals |    overall_avg     |
+------------+-------+--------------------+
| 2011-07-29 |   3   | 2.7164596273291925 |
| 2011-07-30 |   2   | 2.7164596273291925 |
| 2011-07-30 |   4   | 2.7164596273291925 |
| 2011-07-30 |   1   | 2.7164596273291925 |
| 2011-07-30 |   0   | 2.7164596273291925 |
| 2011-07-30 |   2   | 2.7164596273291925 |
| 2011-07-30 |   3   | 2.7164596273291925 |
| 2011-07-31 |   5   | 2.7164596273291925 |
| 2011-10-16 |   2   | 2.7164596273291925 |
| 2011-10-16 |   5   | 2.7164596273291925 |
+------------+-------+--------------------+
Truncated to displaylimit of 10.

## **Create RANK**

In [28]:
%%sql
-- What is the rank of matches based on number of goals scored? 

SELECT date,
    (home_team_goal + away_team_goal) AS goals,
    RANK() OVER(ORDER BY home_team_goal + away_team_goal DESC) AS goals_rank
FROM match
WHERE season = '2011/2012';

Running query in 'postgresql://postgres:***@localhost:5432/Soccer'

3220 rows affected.

+------------+-------+------------+
|    date    | goals | goals_rank |
+------------+-------+------------+
| 2011-11-06 |   10  |     1      |
| 2011-08-28 |   10  |     1      |
| 2011-10-29 |   9   |     3      |
| 2012-04-01 |   9   |     3      |
| 2011-11-05 |   9   |     3      |
| 2012-02-12 |   9   |     3      |
| 2012-03-09 |   9   |     3      |
| 2012-05-12 |   9   |     3      |
| 2012-02-19 |   8   |     9      |
| 2012-05-06 |   8   |     9      |
+------------+-------+------------+
Truncated to displaylimit of 10.

## **Window Function With Partition**

### **Without Partioning**

In [30]:
%%sql 
-- How many goals were scored in each match, and how did that compare to the overall average?

SELECT
date,
(home_team_goal + away_team_goal) AS goals,
AVG(home_team_goal + away_team_goal) OVER() AS overall_avg
FROM match;

Running query in 'postgresql://postgres:***@localhost:5432/Soccer'

25979 rows affected.

+------------+-------+--------------------+
|    date    | goals |    overall_avg     |
+------------+-------+--------------------+
| 2008-08-17 |   2   | 2.7055313907386735 |
| 2008-08-16 |   0   | 2.7055313907386735 |
| 2008-08-16 |   3   | 2.7055313907386735 |
| 2008-08-17 |   5   | 2.7055313907386735 |
| 2008-08-16 |   4   | 2.7055313907386735 |
| 2008-09-24 |   2   | 2.7055313907386735 |
| 2008-08-16 |   4   | 2.7055313907386735 |
| 2008-08-16 |   3   | 2.7055313907386735 |
| 2008-08-16 |   1   | 2.7055313907386735 |
| 2008-11-01 |   5   | 2.7055313907386735 |
+------------+-------+--------------------+
Truncated to displaylimit of 10.

### **With Partitioning**

In [34]:
%%sql 
-- How many goals were scored in each match, and how did that compare to the season's average?

SELECT date,
    (home_team_goal + away_team_goal) AS goals,
    AVG(home_team_goal + away_team_goal) OVER(PARTITION BY season) AS season_avg
FROM match;

Running query in 'postgresql://postgres:***@localhost:5432/Soccer'

25979 rows affected.

+------------+-------+--------------------+
|    date    | goals |     season_avg     |
+------------+-------+--------------------+
| 2008-10-03 |   3   | 2.6073361395069152 |
| 2008-10-05 |   4   | 2.6073361395069152 |
| 2008-11-08 |   3   | 2.6073361395069152 |
| 2008-10-04 |   5   | 2.6073361395069152 |
| 2008-10-05 |   2   | 2.6073361395069152 |
| 2008-10-04 |   1   | 2.6073361395069152 |
| 2008-10-04 |   6   | 2.6073361395069152 |
| 2008-09-28 |   3   | 2.6073361395069152 |
| 2008-09-27 |   1   | 2.6073361395069152 |
| 2008-09-27 |   5   | 2.6073361395069152 |
+------------+-------+--------------------+
Truncated to displaylimit of 10.

### **Partition By Multiple Cols**

In [36]:
%%sql 

SELECT c.name, m.season,
    (home_team_goal + away_team_goal) AS goals,
    AVG(home_team_goal + away_team_goal)
    OVER(PARTITION BY m.season, c.name) AS season_ctry_avg
FROM country AS c
LEFT JOIN match AS m
ON c.id = m.country_id

Running query in 'postgresql://postgres:***@localhost:5432/Soccer'

25979 rows affected.

+---------+-----------+-------+--------------------+
|   name  |   season  | goals |  season_ctry_avg   |
+---------+-----------+-------+--------------------+
| Belgium | 2008/2009 |   4   | 2.7941176470588235 |
| Belgium | 2008/2009 |   2   | 2.7941176470588235 |
| Belgium | 2008/2009 |   1   | 2.7941176470588235 |
| Belgium | 2008/2009 |   2   | 2.7941176470588235 |
| Belgium | 2008/2009 |   4   | 2.7941176470588235 |
| Belgium | 2008/2009 |   3   | 2.7941176470588235 |
| Belgium | 2008/2009 |   7   | 2.7941176470588235 |
| Belgium | 2008/2009 |   3   | 2.7941176470588235 |
| Belgium | 2008/2009 |   6   | 2.7941176470588235 |
| Belgium | 2008/2009 |   3   | 2.7941176470588235 |
+---------+-----------+-------+--------------------+
Truncated to displaylimit of 10.

## **Sliding Window Function**

In [38]:
%%sql 

SELECT date, home_team_goal, away_team_goal, SUM(home_team_goal)
    OVER(ORDER BY date ROWS BETWEEN
        UNBOUNDED PRECEDING AND CURRENT ROW) AS running_total
FROM match
WHERE hometeam_id = 8456 AND season = '2011/2012';

Running query in 'postgresql://postgres:***@localhost:5432/Soccer'

RuntimeError: (psycopg2.errors.UndefinedColumn) column "hometeam_id" does not exist
LINE 5: WHERE hometeam_id = 8456 AND season = '2011/2012';
              ^

[SQL: SELECT date, home_team_goal, away_team_goal, SUM(home_team_goal)
    OVER(ORDER BY date ROWS BETWEEN
        UNBOUNDED PRECEDING AND CURRENT ROW) AS running_total
FROM match
WHERE hometeam_id = 8456 AND season = '2011/2012';]
(Background on this error at: https://sqlalche.me/e/20/f405)
If you need help solving this issue, send us a message: https://ploomber.io/community

# **Practice Queries**

In [92]:
%%sql 

SELECT 
    -- Match Details
    m.id AS match_id,m.season, c.name AS country,

    -- Goal Details
    home_team_goal AS home, 
    away_team_goal AS away,
    (home_team_goal + away_team_goal) AS total_goal,

    -- Team Details
    # home_team_api_id AS home_team_id,
    t1.team_short_name as home_team,
    # away_team_api_id AS away_team_id,
    t2.team_short_name as away_team,

    -- Conditional Values Column 
    -- Match Result 
    CASE WHEN home_team_goal > away_team_goal THEN 'Home Team Win'
        WHEN home_team_goal < away_team_goal THEN 'Away Team Win'
        ELSE 'Draw' END AS match_result

FROM match AS m
INNER JOIN country AS c ON c.id = m.country_id
INNER JOIN teams AS t1 ON t1.team_api_id = m.home_team_api_id
INNER JOIN teams AS t2 ON t2.team_api_id = m.away_team_api_id

-- Filtering Criteria
# WHERE season = '2008/2009'

-- Sorting Criteria
ORDER BY total_goal DESC;

Running query in 'postgresql://postgres:***@localhost:5432/Soccer'

25979 rows affected.

+----------+-----------+-------------+------+------+------------+-----------+-----------+---------------+
| match_id |   season  |   country   | home | away | total_goal | home_team | away_team |  match_result |
+----------+-----------+-------------+------+------+------------+-----------+-----------+---------------+
|  20107   | 2009/2010 |   Scotland  |  6   |  6   |     12     |    MOT    |    HIB    |      Draw     |
|  24248   | 2015/2016 |    Spain    |  10  |  2   |     12     |    REA    |    RAY    | Home Team Win |
|   9211   | 2012/2013 |   Germany   |  9   |  2   |     11     |    BMU    |    HAM    | Home Team Win |
|   5192   | 2009/2010 |    France   |  5   |  5   |     10     |    LYO    |    MAR    |      Draw     |
|  13899   | 2010/2011 | Netherlands |  10  |  0   |     10     |    PSV    |    FEY    | Home Team Win |
|  24123   | 2014/2015 |    Spain    |  2   |  8   |     10     |    COR    |    REA    | Away Team Win |
|  24114   | 2014/2015 |    Spain    |  7   |  3   |     10     |    REA    |    GET    | Home Team Win |
|  24016   | 2014/2015 |    Spain    |  9   |  1   |     10     |    REA    |    GRA    | Home Team Win |
|   2157   | 2009/2010 |   England   |  9   |  1   |     10     |    TOT    |    WIG    | Home Team Win |
|  23444   | 2013/2014 |    Spain    |  7   |  3   |     10     |    REA    |    SEV    | Home Team Win |
+----------+-----------+-------------+------+------+------------+-----------+-----------+---------------+
Truncated to displaylimit of 10.